# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js build & export
/.next/
/out/

# production
/build

# environment variables (Penting: amankan kredensial database)
.env
.env*.local
.env.production
.env.staging

# prisma generated artifacts
/lib/generated/prisma

# debug & logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# ide & code editors
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.swp
*.swo

# temporary / backup files
*.bak
*.old
*.tmp
*.orig

# operating system files
.DS_Store
Thumbs.db
desktop.ini
*.pem